<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Tienda" }) %>
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Create Shop Modal -->
	<% if(currentUser && currentUser.role=='buyer' ){ %>
		<%- include('../layout/create-shop-modal') %>
	<% } %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

	<!-- Page Title -->
	<section id="page-title" class="shopping-page-title page-title-parallax page-title-dark"
		data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 0px;">
		<%- include('../pages/pageTitle' , { title: "Tiendas", page: "Tiendas Registradas" }) %>
	</section>

		<!-- Content -->
		<section id="dark-content" class="dark noborder parallax pt-3">
			<div class="content-wrap pt-0" style="overflow: visible;">
				
				<%- include('./shopping/shops-searcher') %>
					
				<div class="section mb-0 pt-0 pb-0 dark-background">
					<div class="container">
					
					<!-- Notifications -->
					<%- include('../layout/notifications') %>
						
						<% if(url == '/shopping/search'){ %>
							<h3>Se encontraron <%= shopsSearched %> resultados para <span class="text-uppercase">"<%= search %>"</span></h3>
						<% } %>
						<!-- Portfolio Items
						============================================= -->
						<div id="products-list">
							<div id="portfolio" class="portfolio row gutter-30 grid-container" data-layout="fitRows">
								<% shops.forEach( shop => { %>
									<% if(shop.status == 'active'){ %>
										<%- include('./shopping/shop-card', {shop}) %>
									<% } %> 
								<% }) %>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-5">
							<ul class="pagination pagination-inside-transparent pagination-pill">
								<% if(page > 0){ %>
									<li class="page-item">
										<% if(url == '/shopping'){ %>
											<a class="page-link btn-outline-warning" href="<%= process.env.DOMAIN %>/shops/shopping?page=<%= parseInt(page) -1 %>">Anterior</a>
										<% } else if(url == '/shopping/search'){ %>
											<a class="page-link btn-outline-warning" href="<%= process.env.DOMAIN %>/shops/shopping/search?page=<%= parseInt(page) -1 %>&search=<%= search %>">Siguiente</a>
										<% } %>
									</li>
								<% } else if(page == 0) { %>
									<li class="page-item disabled">
										<a class="page-link text-muted" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
									</li>
								<% } %> 
								</li>
								
								<li class="page-item">
									<div class="btn-group dropup">
										<button type="button" class="btn btn-outline-warning dropdown-toggle" style="border-radius: 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<%= page %> de <%= totalPages %>
										</button>
										<div class="dropdown-menu">
											<% for(let i = 0; i <= totalPages; i++) { %>
												<% if(url == '/shopping'){ %>
													<a class="dropdown-item <%= i == page ? 'active' : null%>" href="<%= process.env.DOMAIN %>/shops/shopping?page=<%= i %>">Página <%= i %></a>
												<% } else if(url == '/shopping/search'){ %>
													<a class="dropdown-item <%= i == page ? 'active' : null%>" href="<%= process.env.DOMAIN %>/shops/shopping/search?page=<%= i %>&search=<%= search %>">Página <%= i %></a>
												<% } %>
											<% } %>
											
										</div>
									</div>
								</li>

								<% if(page < totalPages){ %>
									<li class="page-item">
										<% if(url == '/shopping'){ %>
											<a class="page-link btn-outline-warning" href="<%= process.env.DOMAIN %>/shops/shopping?page=<%= parseInt(page) +1 %>">Siguiente</a>
										<% } else if(url == '/shopping/search'){ %>
											<a class="page-link btn-outline-warning" href="<%= process.env.DOMAIN %>/shops/shopping/search?page=<%= parseInt(page) +1 %>&search=<%= search %>">Siguiente</a>
										<% } %>
									</li>	
								<% } else if(page == totalPages) { %>
									<li class="page-item disabled">
										<a class="page-link text-muted" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
									</li>
								<% } %> 		  
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</section><!-- #content end -->

	<!-- Footer -->
	<%- include('../layout/footer') %>
		
</body>
		
</html>